BreakBeforeBraces: Allman
BinPackParameters: OnePerLine
BinPackArguments: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AlignAfterOpenBracket: AlwaysBreak
BreakBeforeBinaryOperators: NonAssignment
